/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$workit-green: #00c088;

.navbar.navbar-light {
  margin-bottom: 0;
}

.navbar .navbar-brand {
  margin-top: -3px;
  margin-left: 18px !important;
  height: 58px;
}

.nav .dropdown.open .caret {
  border-top: none;
  border-bottom: 4px solid #000000;
}

.navbar-toggle {
  .icon-bar {
    background-color: $workit-green !important;
  }
}


.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-squared {
  border-radius: 0;
}

.btn-rounded {
  border-radius: 100px;
}

.btn.outline {
  margin: 8px 8px;
  background: none;
  padding: 4px 22px;
}

.btn-primary.outline {
  border: 2px solid $workit-green;
  color: $workit-green;
}

.btn-primary.btn-start {
  border-radius: 25px;
  padding: 13px 30px;
  font-size: 20px;
  background: $workit-green;
  border: none;
  box-shadow: 2px 2px 5px #888888
}

.btn-primary.btn-start:hover, .btn-primary.btn-start:focus {
  background: #00c98d;
}

.btn-primary.btn-start:active, .btn-primary.btn-start.active {
  background: #00b380;
}

.btn-fade {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.btn-primary.main {
  &.main-green {
    background: $workit-green;
    border: none;
  }
  &.main-gray {
    background-color: #E6E9E9;
    color: #9AA1A8;
    border: none;
  }
  &.main-lg {
    padding: 13px 20px;
    font-size: 16px;
  }
}

.btn-primary.main:hover, .btn-primary.main:focus {
  &.main-green {
    background: #00c98d;
  }
  &.main-gray {
    background: #eff2f2;
  }
}

.btn-primary.main:active, .btn-primary.main.active {
  &.main-green {
    background: #00b380;
    box-shadow: none;
  }
  &.main-gray {
    background: #dee0e0;
    box-shadow: none;
  }
}

.btn-primary.outline:hover, .btn-primary.outline:focus {
  background: none;
  color: #00e684;
  border-color: #00e684;
}
.btn-primary.outline.active, .btn-primary.outline.active {
  color: #00b380;
  border-color: #00b380;
  box-shadow: none;
}

.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: $workit-green; 
  color: $workit-green;
  box-shadow: none;
}

#main-text {
  color: #333333;
}

#program-btn {
  padding: 15px 25px;
}

.row.intro-img {
  margin-bottom: 50px;
}

#menu-words {
  font-size: small;
  color: #8F8F8F;
}

#intro-pic {
  height: 540px;
  margin-bottom: -10px;
  box-shadow: 10px 10px 10px #B3B3B3;
}

#sad-heart {
  height: 110px;
  margin-bottom: -10px;
}

p.photo-text {
  color: white;
}

.image-container-outer {
  margin-bottom: 50px;
  background: image-url('intro-pic.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  position: relative;
  -webkit-filter: drop-shadow( 1px 1px 0px 1px #888888 );
  filter: drop-shadow( 1px 1px 0px 1px #888888 );
}

.text-form {
  &.text {
    margin-left: 100px;
    margin-top: 2px;
  }
  &.form {
    border-radius: 0;
    width: 400px;
  }
}

.text-form2 {
  &.text {
    margin-left: 120px;
    margin-top: 2px;
  }
  &.form {
    border-radius: 0;
    width: 400px;
  }
}

.button-row {
  .btn {
    height: 40px;
    border: none;
  }
  .button1 {
    position: absolute;
    top: 63%;
    left: 52%;
  }
  .button2 {
    position: absolute;
    top: 63%;
    left: 63%;
  }
}

.companies-list {
  list-style: none;
  padding: 0;
}

.company-item {
  display: inline-block;
  padding: 0;
}

.company-pic {
  height: 100px;
}

.board-list {
  list-style: none;
  padding: 0;
  margin-bottom: 2.25cm;
}

.board-item {
  display: inline-block;
  margin: 0px 6px;
  padding: 0;
}

.board-member-pic {
  height: 111.15px;
  width: 112.1px;
}

#board-link {
  margin-right: 45px;
  color: #464646;
  text-decoration: underline;
}

.vice-container {
  padding-bottom: 50px;
}

.vice {
  text-align: center;
}

.vice-list {
  list-style: none;
  padding: 0;
}

.vice-item {
  display: inline-block;
  vertical-align: top;
}

.vice-pic {
  display: block;
  height: 170px;
  margin: 30px 50px;
}

.vice-caption {
  background-color: #30BA8E;
  border-radius: 0;
}

.label-md {
  font-size: 20px;
}

.small-txt {
  font-size: 15px;
  margin-top: -3px;
  margin-left: 2px;
  color: #8C939C;
}

.container-fluid.founder-container {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #F4F4F6;
}

#companies {
  margin-top: -35px
}

#grey-grad {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #F4F4F4;
  background: -webkit-linear-gradient(#F4F4F4, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F4F4F4, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F4F4F4, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F4F4F4, white); /* Standard syntax (must be last) */
}

#program-pic {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom:25px;
}

#devices {
  display: inline-block;
  height: 480px;
}

#wagon-heart {
  margin-top: 15px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-justify-sm {
        text-align: justify;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-justify-md {
        text-align: justify;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-justify-lg {
        text-align: justify;
    }
}
